:host {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.ui-icon-wrap {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
}

.ui-icon {
  width: 100% !important;
  height: 100% !important;
  vertical-align: middle;
  box-sizing: border-box;
  display: block;
}

.ui-icon--mask {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
